.motive fieldset {
    background-color: lightpink;
    border: black solid;
}

.motive label{
    display: block;
    margin-top: 10px;
}

.motive legend{
    color:blueviolet;
    font-weight: bold;
}
.motive input { 
    display:block;
    
}

.motive [type="submit"] {
    background-color: silver;
    border: black solid 2px;
    margin-top: 10px;
}

h1 { 
    border-bottom: black solid;
    text-align: center;
}