body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
}

form {
    background-color: lightpink;
    border: black solid;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    margin-left: 150px;
    margin-right: 150px;
}


input { 
    margin-left: 100px;
    margin-right: 100px;
}

button{
    margin: 10px 100px;
    background-color: silver;
    border: black solid 2px
}

h1{ 
    border-bottom: black solid;
}