body {
    background-color: bisque;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 0 20px;
}

p {
    background-color: rgb(139, 168, 192);
    border: solid;
    border-radius: 10px;
}

h2 {
    background-color: rgb(136, 129, 139);
}

a{
    color:rgb(0, 0, 0);
}

a:hover{
    color: white;
    background-color: blue;
}

section {
    border: solid 1px;
    padding: 30px;
    align-items: center;
    background-color: rgb(164, 170, 166);
}

/* Remove the grid-column property for .visual-hierarchy */
.visual-hierarchy {
    /* Adjust specific styles for the second card */
}
