@media screen and (min-width: 640px) {
    
    main{
        grid-template-columns: repeat(2, 1fr);
    }

    /* sections */

    .weather-card {
        grid-column: 1/3;
        grid-row: 8/10;
        text-align: center;
    }
    
    .our_businesses-card {
        grid-column: 1/3;
        grid-row: 10/12;
    }
    
    .business_of_the_month {
        grid-column: 1/5;
        grid-row: 14/16;
    }

    .spotlight-card {
        grid-column: 3/5;
        grid-row: 8/12;
    }

    #demographics {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #calander-card {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    #attractions {
        grid-column: 1/2;
        grid-row: 4/6;
    }

    #discover-images {
        grid-column: 1/2;
        grid-row: 6/10;
    }
}