main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    display: flex; /* Added to make the footer a flex container */
    justify-content: center;
    align-items: center; /* Added to center content vertically */
    margin-top: 20px; /* Adjust margin as needed */
}

.picture {
    width: 100%;
    background: black;
    animation: fade 15s;

}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

