:root {
    --primary-background-color: gray;
    --fieldset-background-color: green;
    --fieldset-text-color: black;
    --fieldset-font-size: large;
    --input-background-color: white;
    --input-text-color: black;
    --placeholder-color: lightslategray;
    --legend-text-color: white;
}

/* Now you can use these variables throughout your stylesheet */

fieldset {
    background-color: var(--fieldset-background-color);
    color: var(--fieldset-text-color);
    font-size: var(--fieldset-font-size);
}

label {
    display: block;
}

input {
    display: block;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}

input::placeholder {
    color: var(--placeholder-color);
    font-size: smaller;
}

legend {
    color: var(--legend-text-color);
}

body {
    background-color: var(--primary-background-color);
}
